
<img src="/assets/about.png" class="img-about u-pull-left">

<p>In 2010 I graduated from University of California, San Diego with a B.A. in Computer Science. I came to the Bay Area in 2011 to work on a startup I helped co-found with some friends. My role in that startup was mainly to create HTML/CSS prototypes from high fidelity mockups. Over time, through collaboration with my team and from user testing, I realized the importance of user experience design. </p>

<p>I tried to learn as much about UX design on my own by searching online but I felt like I didn’t have a complete understanding of what UX design emcompasses. In order to enrich my understanding of UX design I enrolled in the User Experience Design Immersive program at General Assembly and completed the program February 2015. </p>

<p>I am currently seeking oppurtunities in UX/UI Design but still wish to leverage my knowledge and skills in front-end development and programming.</p>
          
