<p>You can email me at <strong>katcodes@gmail.com</strong></p>
<p>Or you can find me on:
	<ul>
		<li><a href="http://www.linkedin.com/in/katcodes">Linkedin</a></li>
		<li><a href="https://profiles.generalassemb.ly/profiles/kathleen-guzman">General Assembly</a></li>
	</ul>
</p>