<h4>My Resources</h4>
<ul>
	<li><a href="http://www.cssmatic.com/box-shadow">CSS matic</a> - for box shadows</li>
	<li><a href="http://www.0to255.com/">0to255</a> - for variations of any color</li>
</ul>

<h4>My Codepen</h4>

<p data-height="400" data-theme-id="0" data-slug-hash="bNydQr" data-default-tab="result" data-user="katcodes" class='codepen'>See the Pen <a href='http://codepen.io/katcodes/pen/bNydQr/'>One modal, many images</a> by Kathleen Guzman (<a href='http://codepen.io/katcodes'>@katcodes</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>