<div class="row">
	<div class="one-half column project-module">
		<a href="/motoroso/">
            <div class="project-img"><%= image_tag("motoroso/logo.png", class:"project-img") %></div>
			<aside>Motoroso</aside>
		</a>
	</div>
	<div class="one-half column project-module">
		<a href="/scholastic/">
            <div class="project-img"><%= image_tag("scholastic/logo.jpg", class:"project-img") %></div>
			<aside>Scholastic</aside>
		</a>
	</div>
</div>
<br>
<div class="row">
	<div class="one-half column project-module">
		<a href="/truespirit/">
            <div class="project-img"><%= image_tag("truespirit/logo.png", class:"project-img") %></div>
			<aside>True Spirit</aside>
		</a>
	</div>
</div>