<div class="row">
	<div class="one-half column project-module">
		<img src="" height="200">
		<aside class="u-pull-right">Title</aside>
	</div>
	<div class="one-half column project-module">
		<img src="" width="100%" height="200">
		<aside class="u-pull-right">Title</aside>
	</div>
</div>
