<div class="row">
	<div class="one-half column project-module">
		<a href="/motoroso/">
            <%= image_tag("project/imgname.png", class:"project-img") %>
			<aside>Motoroso</aside>
		</a>
	</div>
	<div class="one-half column project-module">
		<a href="/scholastic/">
            <%= image_tag("project/imgname.png", class:"project-img") %>
			<aside>Scholastic</aside>
		</a>
	</div>
</div>
<br>
<div class="row">
	<div class="one-half column project-module">
		<a href="/truespirit/">
            <%= image_tag("project/imgname.png", class:"project-img") %>
			<aside>True Spirit</aside>
		</a>
	</div>
</div>