body { 
background-color: #FFF;
font-weight: 400;
}

a {color: #C00;}

nav {
color: #000;
display: block;
padding: 15px 0;
}

nav a {
color:#000;
font-weight: 300;
text-decoration: none;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin: 5px 0;
padding: 0 5px;
letter-spacing: 2px;
}

header {
border-color: #000;
border-style: solid;
border-width: 1px 0;
display: block;

}

section {
min-height: 200px;
font-family: 'Playfair Display', serif;
padding: 2em 0;
}

footer{
margin-top: 2em;
border-top: 1px solid #000;
display: block;
text-align: center;
}

nav, .page-title,
h1,h2,h3,h4,h5,h6 {
font-family: 'Avenir Next Condensed', 'Open Sans Condensed', sans-serif;
/*font-family: 'Avenir Next Condensed', sans-serif;*/
/*font-family: 'Fira Sans', sans-serif;*/
}

h1,h2,h3,h4,h5,h6{text-transform: uppercase;}
