.img-placeholder {
height:100%;
width:100%;
background-color: rgba(0,0,0,.6);
}
.logo {
margin: 0; 
padding: 0;
letter-spacing: 2px;
}

/*	      
@media (max-width: 550px) {
h1{font-size:2.2rem;}
h2{font-size:2rem;}
h3{font-size:1.8rem;}
h4{font-size:1.6rem;}
h5{font-size:1.4rem;}
h6{font-size:1.2rem;}
}*/


/* true spirit styles */
.solution{
}

.preview-module{
background-color: rgba(0,0,0,.1);
min-height: 550px;
padding: 15px;
}

.preview-img{
max-width: 100%;
max-height: 425px;
margin: 0 auto;
display: block;
}


.img-about{
width: 35%;
padding-right: 20px;
}

.footer-nav{
margin: 0 auto;
}

.txt-upper
{
text-transform: uppercase;
}

.quote {
font-family: serif;
color: #4f4f4f;
padding-top: 2em;
font-style: italic;
}

.txt-center {text-align:center;}

    